@import '../../../style/abstract/variables';

.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	justify-content: center;
	align-items: center;
	display: flex;
	z-index: 200;
	top: 0;
	left: 0;
	background-color: rgba($dark-color, 0.8);
	padding: 15rem 0;
	transition: all 0.3s;
	visibility: visible;

	@supports (-webkit-backdrop-filter: blur(10px)) or
		(backdrop-filter: blur(10px)) {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba($dark-color, 0.3);
	}

	&-content {
		display: flex;
		flex-direction: column;
		opacity: 0.82;
		margin: 0 auto;
		width: 70%;
		background-color: $light-color;
		border-radius: 3px;
		box-shadow: 0 2rem 4rem rgba($dark-color, 0.4);
		padding: 2rem;
		border: 1px solid lighten($primary-color, 10%);
	}

	&-header {
		display: flex;
		font-family: 'Satisfy', cursive;
		justify-content: space-between;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid $primary-color;

		&-title {
			font-size: 2.5rem;
		}
	}

	&-text {
		padding: 2rem 0;

		&-input {
			font-size: 1.8rem;
		}
	}
}
