.btn {
	transition: all 0.2s ease-out;
	font-size: 2rem;
	cursor: pointer;
	backface-visibility: hidden;

	&:hover {
		transform: scale(1.1) translateY(-0.1rem);
	}

	&.add {
		font-size: 2.5rem;

		&:hover {
			color: $success-color;
		}
	}

	&.landing {
		font-family: 'Satisfy', cursive;
		background-image: none;
		display: inline-block;
		padding: 1rem 2rem;
		-webkit-appearance: none;
		appearance: none;
		background-color: $bright-color;
		color: $light-color;
		border-radius: 4px;
		position: relative;
		transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
		box-shadow: 0 2px 25px rgba(227, 89, 255, 0.5);

		&:hover {
			background-color: lighten($bright-color, 10%);
		}

		&:before,
		&:after {
			position: absolute;
			content: '';
			display: block;
			width: 140%;
			height: 100%;
			left: -20%;
			z-index: -1000;
			transition: all ease-in-out 0.5s;
			background-repeat: no-repeat;
		}

		&:before {
			display: none;
			top: -75%;
			background-image: radial-gradient(
					circle,
					$bright-color 20%,
					transparent 20%
				),
				radial-gradient(
					circle,
					transparent 20%,
					$bright-color 20%,
					transparent 30%
				),
				radial-gradient(circle, $bright-color 20%, transparent 20%),
				radial-gradient(circle, $bright-color 20%, transparent 20%),
				radial-gradient(
					circle,
					transparent 10%,
					$bright-color 15%,
					transparent 20%
				),
				radial-gradient(circle, $bright-color 20%, transparent 20%),
				radial-gradient(circle, $bright-color 20%, transparent 20%),
				radial-gradient(circle, $bright-color 20%, transparent 20%),
				radial-gradient(circle, $bright-color 20%, transparent 20%);
			background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
				15% 15%, 10% 10%, 18% 18%;
			//background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
		}

		&:after {
			display: none;
			bottom: -75%;
			background-image: radial-gradient(
					circle,
					$bright-color 20%,
					transparent 20%
				),
				radial-gradient(circle, $bright-color 20%, transparent 20%),
				radial-gradient(
					circle,
					transparent 10%,
					$bright-color 15%,
					transparent 20%
				),
				radial-gradient(circle, $bright-color 20%, transparent 20%),
				radial-gradient(circle, $bright-color 20%, transparent 20%),
				radial-gradient(circle, $bright-color 20%, transparent 20%),
				radial-gradient(circle, $bright-color 20%, transparent 20%);
			background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
				20% 20%;
			//background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
		}

		&:active {
			transform: scale(0.9);
			background-color: darken($bright-color, 5%);
			box-shadow: 0 2px 25px rgba(227, 89, 255, 0.2);
		}

		&.animate {
			&:before {
				display: block;
				animation: topBubbles ease-in-out 0.75s forwards;
			}
			&:after {
				display: block;
				animation: bottomBubbles ease-in-out 0.75s forwards;
			}
		}
	}

	&.txt {
		font-size: 1.6rem;
		text-decoration: underline $tertiary-color;

		&:hover {
			color: lighten($dark-color, 10%);
		}
	}

	&.close {
		font-size: 2rem;
		color: lighten($danger-color, 35%);

		&:hover {
			color: lighten($danger-color, 10%);
		}
	}

	&.search {
		margin-top: 1rem;
		opacity: 0.75;
		font-size: 1.8rem;
		padding: 1rem 2rem;
		color: $light-color;
		border-radius: 3rem;
		background-color: $primary-color;

		.btn-icon {
			margin-bottom: -0.2rem;
		}

		&:hover {
			background-color: lighten($primary-color, 30%);
		}
	}
}
