.container {
	overflow: hidden;
	padding: 3.5rem 3.2rem 2rem;
	position: relative;
	margin-top: 5.4rem;
	min-height: 84.8vh;
	color: $dark-color;
	background-color: lighten($tertiary-color, 15%);
}
