@import '../../style/abstract/variables';
@import '../../style/base/animations';

.filter {
	margin: 0 auto;
	display: none;
	background-color: lighten($light-color, 3%);
	padding: 2rem;
	position: absolute;
	border-radius: 2rem;
	left: 6rem;
	top: -2rem;
	width: 80%;
	z-index: 20;

	&.active {
		animation: scale-display 0.35s;
		display: inline-block;
	}

	&.out {
		animation: scale-display--reversed 0.5s;
		animation-fill-mode: forwards;
		display: inline-block;
	}

	.form {
		text-align: center;
		padding: 2rem;
		border-radius: 0.5rem;
		border: 1px solid $primary-color;
		margin-top: 1rem;

		*:not(:last-child) {
			margin-bottom: 3rem;
		}

		input,
		select {
			width: 80%;
		}

		&-item {
			margin-bottom: 2rem !important;

			&-lbl {
				width: 80%;
				margin: 0 auto;
				display: block;
				text-align: start;
				color: $tertiary-color;
				font-size: 1.4rem;
				margin-top: -2rem;
			}
		}
	}

	&-parent {
		position: relative;
		width: 50%;
		display: inline-block;
	}
}
