.table {
	border-collapse: collapse;
	text-align: center;
	width: 80%;
	margin: 1rem auto;
	--table-layout: fixed;

	&.bigger {
		width: 90%;
	}

	td {
		padding: 1rem 2rem;
	}

	&-tdicon {
		width: 5%;
	}

	&-icon {
		font-size: 2rem;
		cursor: pointer;
		color: darken($tertiary-color, 20%);
		backface-visibility: hidden;
		transition: all 0.4s ease-out;

		&:hover {
			transform: scale(1.1);
			color: darken($tertiary-color, 40%);
		}

		&.trash {
			color: lighten($danger-color, 35%);

			&:hover {
				transform: scale(1.1);
				color: $danger-color;
			}
		}
	}
}
